query_file ICON "..\..\images\icons\QueryFile.ico"
sql_script_file ICON "..\..\images\icons\SQLScriptFile.ico"

about PNG "..\..\images\about.png"
connection_dialog_header PNG "..\..\images\connect_header_qb.png"

toolbar_bg1 PNG "..\..\images\toolbar\toolbar_bg1.png"
toolbar_bg2 PNG "..\..\images\toolbar\toolbar_bg2.png"

label_extra PNG "..\..\images\toolbar\label_extra.png"
label_extra_disabled PNG "..\..\images\toolbar\label_extra_disabled.png"

perspective_browser PNG "..\..\images\png\perspective_browser.png"
perspective_browser_active PNG "..\..\images\png\perspective_browser_active.png"
perspective_browser_disabled PNG "..\..\images\png\perspective_browser_disabled.png"
perspective_cmd PNG "..\..\images\png\perspective_cmd.png"
perspective_cmd_active PNG "..\..\images\png\perspective_cmd_active.png"
perspective_cmd_disabled PNG "..\..\images\png\perspective_cmd_disabled.png"
perspective_scripts PNG "..\..\images\png\perspective_scripts.png"
perspective_scripts_active PNG "..\..\images\png\perspective_scripts_active.png"
perspective_scripts_disabled PNG "..\..\images\png\perspective_scripts_disabled.png"
perspective_storedproc PNG "..\..\images\png\perspective_storedproc.png"
perspective_storedproc_active PNG "..\..\images\png\perspective_storedproc.png"
perspective_storedproc_disabled PNG "..\..\images\png\perspective_storedproc_disabled.png"

query_back PNG "..\..\images\toolbar\query_back.png"
query_next PNG "..\..\images\toolbar\query_next.png"
query_refresh PNG "..\..\images\toolbar\query_refresh.png"
query_execute PNG "..\..\images\toolbar\query_execute.png"
query_stop PNG "..\..\images\toolbar\query_stop.png"

query_back_down PNG "..\..\images\toolbar\query_back_down.png"
query_next_down PNG "..\..\images\toolbar\query_next_down.png"
query_refresh_down PNG "..\..\images\toolbar\query_refresh_down.png"
query_execute_down PNG "..\..\images\toolbar\query_execute_down.png"
query_stop_down PNG "..\..\images\toolbar\query_stop_down.png"

mouse_from PNG "..\..\images\toolbar\mouse_from.png"
mouse_group PNG "..\..\images\toolbar\mouse_group.png"
mouse_having PNG "..\..\images\toolbar\mouse_having.png"
mouse_order PNG "..\..\images\toolbar\mouse_order.png"
mouse_std PNG "..\..\images\toolbar\mouse_std.png"
mouse_select PNG "..\..\images\toolbar\mouse_select.png"
mouse_set PNG "..\..\images\toolbar\mouse_set.png"
mouse_where PNG "..\..\images\toolbar\mouse_where.png"

mouse_from_down PNG "..\..\images\toolbar\mouse_from_down.png"
mouse_group_down PNG "..\..\images\toolbar\mouse_group_down.png"
mouse_having_down PNG "..\..\images\toolbar\mouse_having_down.png"
mouse_order_down PNG "..\..\images\toolbar\mouse_order_down.png"
mouse_std_down PNG "..\..\images\toolbar\mouse_std_down.png"
mouse_select_down PNG "..\..\images\toolbar\mouse_select_down.png"
mouse_set_down PNG "..\..\images\toolbar\mouse_set_down.png"
mouse_where_down PNG "..\..\images\toolbar\mouse_where_down.png"

small_query_back PNG "..\..\images\toolbar\small_query_back.png"
small_query_next PNG "..\..\images\toolbar\small_query_next.png"
small_query_refresh PNG "..\..\images\toolbar\small_query_refresh.png"
small_query_execute PNG "..\..\images\toolbar\small_query_execute.png"
small_query_stop PNG "..\..\images\toolbar\small_query_stop.png"
small_query_start PNG "..\..\images\toolbar\small_query_start.png"
small_query_commit PNG "..\..\images\toolbar\small_query_commit.png"
small_query_rollback PNG "..\..\images\toolbar\small_query_rollback.png"
small_query_explain PNG "..\..\images\toolbar\small_query_explain.png"
small_query_compare PNG "..\..\images\toolbar\small_query_compare.png"


small_query_back_down PNG "..\..\images\toolbar\small_query_back_down.png"
small_query_next_down PNG "..\..\images\toolbar\small_query_next_down.png"
small_query_refresh_down PNG "..\..\images\toolbar\small_query_refresh_down.png"
small_query_execute_down PNG "..\..\images\toolbar\small_query_execute_down.png"
small_query_stop_down PNG "..\..\images\toolbar\small_query_stop_down.png"
small_query_start_down PNG "..\..\images\toolbar\small_query_start_down.png"
small_query_commit_down PNG "..\..\images\toolbar\small_query_commit_down.png"
small_query_rollback_down PNG "..\..\images\toolbar\small_query_rollback_down.png"
small_query_explain_down PNG "..\..\images\toolbar\small_query_explain_down.png"
small_query_compare_down PNG "..\..\images\toolbar\small_query_compare_down.png"

script_undo PNG "..\..\images\toolbar\script_undo.png"
script_redo PNG "..\..\images\toolbar\script_redo.png"
script_continue PNG "..\..\images\toolbar\script_continue.png"
script_execute PNG "..\..\images\toolbar\script_execute.png"
script_step_return PNG "..\..\images\toolbar\script_step_return.png"
script_step_into PNG "..\..\images\toolbar\script_step_into.png"
script_step_over PNG "..\..\images\toolbar\script_step_over.png"
script_stop PNG "..\..\images\toolbar\script_stop.png"
script_restart PNG "..\..\images\toolbar\script_restart.png"
script_load PNG "..\..\images\toolbar\script_load.png"
script_save PNG "..\..\images\toolbar\script_save.png"
script_search PNG "..\..\images\toolbar\script_search.png"
script_pause PNG "..\..\images\toolbar\script_pause.png"

script_undo_down PNG "..\..\images\toolbar\script_undo_down.png"
script_redo_down PNG "..\..\images\toolbar\script_redo_down.png"
script_continue_down PNG "..\..\images\toolbar\script_continue_down.png"
script_execute_down PNG "..\..\images\toolbar\script_execute_down.png"
script_step_return_down PNG "..\..\images\toolbar\script_step_return_down.png"
script_step_into_down PNG "..\..\images\toolbar\script_step_into_down.png"
script_step_over_down PNG "..\..\images\toolbar\script_step_over_down.png"
script_stop_down PNG "..\..\images\toolbar\script_stop_down.png"
script_restart_down PNG "..\..\images\toolbar\script_restart_down.png"
script_load_down PNG "..\..\images\toolbar\script_load_down.png"
script_save_down PNG "..\..\images\toolbar\script_save_down.png"
script_search_down PNG "..\..\images\toolbar\script_search_down.png"
script_pause_down PNG "..\..\images\toolbar\script_pause_down.png"

small_script_undo PNG "..\..\images\toolbar\small_script_undo.png"
small_script_redo PNG "..\..\images\toolbar\small_script_redo.png"
small_script_continue PNG "..\..\images\toolbar\small_script_continue.png"
small_script_execute PNG "..\..\images\toolbar\small_script_execute.png"
small_script_step_return PNG "..\..\images\toolbar\small_script_step_return.png"
small_script_step_into PNG "..\..\images\toolbar\small_script_step_into.png"
small_script_step_over PNG "..\..\images\toolbar\small_script_step_over.png"
small_script_stop PNG "..\..\images\toolbar\small_script_stop.png"
small_script_restart PNG "..\..\images\toolbar\small_script_restart.png"
small_script_load PNG "..\..\images\toolbar\small_script_load.png"
small_script_save PNG "..\..\images\toolbar\small_script_save.png"
small_script_search PNG "..\..\images\toolbar\small_script_search.png"
small_script_pause PNG "..\..\images\toolbar\small_script_pause.png"

small_script_undo_down PNG "..\..\images\toolbar\small_script_undo_down.png"
small_script_redo_down PNG "..\..\images\toolbar\small_script_redo_down.png"
small_script_continue_down PNG "..\..\images\toolbar\small_script_continue_down.png"
small_script_execute_down PNG "..\..\images\toolbar\small_script_execute_down.png"
small_script_step_return_down PNG "..\..\images\toolbar\small_script_step_return_down.png"
small_script_step_into_down PNG "..\..\images\toolbar\small_script_step_into_down.png"
small_script_step_over_down PNG "..\..\images\toolbar\small_script_step_over_down.png"
small_script_stop_down PNG "..\..\images\toolbar\small_script_stop_down.png"
small_script_restart_down PNG "..\..\images\toolbar\small_script_restart_down.png"
small_script_load_down PNG "..\..\images\toolbar\small_script_load_down.png"
small_script_save_down PNG "..\..\images\toolbar\small_script_save_down.png"
small_script_search_down PNG "..\..\images\toolbar\small_script_search_down.png"
small_script_pause_down PNG "..\..\images\toolbar\small_script_pause_down.png"

rs_error PNG "..\..\images\png\rs_error.png"
rs_warning PNG "..\..\images\png\rs_warning.png"
rs_notice PNG "..\..\images\png\rs_notice.png"

rs_btn_down_bg PNG "..\..\images\png\rs_btn_down_bg.png"
rs_btn_down_left_bg PNG "..\..\images\png\rs_btn_down_left_bg.png"

rs_edit PNG "..\..\images\png\rs_edit.png"
rs_edit_disabled PNG "..\..\images\png\rs_edit_disabled.png"
rs_edit_active PNG "..\..\images\png\rs_edit_active.png"
rs_apply PNG "..\..\images\png\rs_apply.png"
rs_apply_disabled PNG "..\..\images\png\rs_apply_disabled.png"
rs_discard PNG "..\..\images\png\rs_discard.png"
rs_discard_disabled PNG "..\..\images\png\rs_discard_disabled.png"
rs_first PNG "..\..\images\png\rs_first.png"
rs_first_disabled PNG "..\..\images\png\rs_first_disabled.png"
rs_last PNG "..\..\images\png\rs_last.png"
rs_last_disabled PNG "..\..\images\png\rs_last_disabled.png"
rs_search PNG "..\..\images\png\rs_search.png"
rs_search_disabled PNG "..\..\images\png\rs_search_disabled.png"

sc_continue PNG "..\..\images\png\sc_continue.png"
sc_execute PNG "..\..\images\png\sc_execute.png"
sc_run_until_return PNG "..\..\images\png\sc_run_until_return.png"
sc_step_into PNG "..\..\images\png\sc_step_into.png"
sc_step_over PNG "..\..\images\png\sc_step_over.png"
sc_stop PNG "..\..\images\png\sc_stop.png"

overlay_table_menu PNG "..\..\images\png\overlay_table_menu.png"

sql_query_from CURSOR "..\..\images\cursors\sql_query_from.cur"
sql_query_from_shadow CURSOR "..\..\images\cursors\sql_query_from_shadow.cur"

sql_query_group CURSOR "..\..\images\cursors\sql_query_group.cur"
sql_query_group_shadow CURSOR "..\..\images\cursors\sql_query_group_shadow.cur"

sql_query_having CURSOR "..\..\images\cursors\sql_query_having.cur"
sql_query_having_shadow CURSOR "..\..\images\cursors\sql_query_having_shadow.cur"

sql_query_order CURSOR "..\..\images\cursors\sql_query_order.cur"
sql_query_order_shadow CURSOR "..\..\images\cursors\sql_query_order_shadow.cur"

sql_query_select CURSOR "..\..\images\cursors\sql_query_select.cur"
sql_query_select_shadow CURSOR "..\..\images\cursors\sql_query_select_shadow.cur"

sql_query_set CURSOR "..\..\images\cursors\sql_query_set.cur"
sql_query_set_shadow CURSOR "..\..\images\cursors\sql_query_set_shadow.cur"

sql_query_where CURSOR "..\..\images\cursors\sql_query_where.cur"
sql_query_where_shadow CURSOR "..\..\images\cursors\sql_query_where_shadow.cur"

dolphin_loop AVI "..\dolphin_loop.avi"

gutter_breakpoint PNG "..\..\images\png\gutter_breakpoint.png"
gutter_current_pos PNG "..\..\images\png\gutter_current_pos.png"
gutter_query_start PNG "..\..\images\png\gutter_query_start.png"

tabsheet_icon_inlinehelp PNG "..\..\images\png\tabsheet_icon_inlinehelp.png"
tabsheet_icon_resultset PNG "..\..\images\png\tabsheet_icon_resultset.png"
tabsheet_icon_script PNG "..\..\images\png\tabsheet_icon_script.png"

maximized_query_area_header PNG "..\..\images\png\maximized_query_area_head_b.png"

sql_create_view PNG "..\..\images\png\sql_create_view.png"
sql_edit_sp PNG "..\..\images\png\sql_edit_sp.png"
