stm ICON "..\..\images\icons\systemtraymonitor\stm.ico"
stm_0 ICON "..\..\images\icons\systemtraymonitor\stm_0.ico"
stm_1 ICON "..\..\images\icons\systemtraymonitor\stm_1.ico"
stm_2 ICON "..\..\images\icons\systemtraymonitor\stm_2.ico"
stm_3 ICON "..\..\images\icons\systemtraymonitor\stm_3.ico"
stm_4 ICON "..\..\images\icons\systemtraymonitor\stm_4.ico"
stm_5 ICON "..\..\images\icons\systemtraymonitor\stm_5.ico"
stm_6 ICON "..\..\images\icons\systemtraymonitor\stm_6.ico"
stm_7 ICON "..\..\images\icons\systemtraymonitor\stm_7.ico"
stm_started ICON "..\..\images\icons\systemtraymonitor\stm_started.ico"
stm_started_0 ICON "..\..\images\icons\systemtraymonitor\stm_started_0.ico"
stm_started_1 ICON "..\..\images\icons\systemtraymonitor\stm_started_1.ico"
stm_started_2 ICON "..\..\images\icons\systemtraymonitor\stm_started_2.ico"
stm_started_3 ICON "..\..\images\icons\systemtraymonitor\stm_started_3.ico"
stm_started_4 ICON "..\..\images\icons\systemtraymonitor\stm_started_4.ico"
stm_started_5 ICON "..\..\images\icons\systemtraymonitor\stm_started_5.ico"
stm_started_6 ICON "..\..\images\icons\systemtraymonitor\stm_started_6.ico"
stm_started_7 ICON "..\..\images\icons\systemtraymonitor\stm_started_7.ico"
stm_stopped ICON "..\..\images\icons\systemtraymonitor\stm_stopped.ico"
stm_stopped_0 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_0.ico"
stm_stopped_1 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_1.ico"
stm_stopped_2 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_2.ico"
stm_stopped_3 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_3.ico"
stm_stopped_4 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_4.ico"
stm_stopped_5 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_5.ico"
stm_stopped_6 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_6.ico"
stm_stopped_7 ICON "..\..\images\icons\systemtraymonitor\stm_stopped_7.ico"

service_started PNG "..\..\images\icons\systemtraymonitor\service_started.png"
service_stopped PNG "..\..\images\icons\systemtraymonitor\service_stopped.png"

close PNG "..\..\images\icons\systemtraymonitor\close.png"

menu_checked PNG "..\..\images\icons\systemtraymonitor\menu_checked.png"
menu_unchecked PNG "..\..\images\icons\systemtraymonitor\menu_unchecked.png"

MySQLIcon_Admin_16x16 PNG "..\..\images\icons\systemtraymonitor\MySQLIcon_Admin_16x16.png"
MySQLIcon_QueryBrowser_16x16 PNG "..\..\images\icons\systemtraymonitor\MySQLIcon_QueryBrowser_16x16.png"
