about PNG "..\..\images\about.png"
connection_dialog_header PNG "..\..\images\connect_header_admin.png"

service_status_running PNG "..\..\images\icons\png\service_status_running.png"
service_status_stopped PNG "..\..\images\icons\png\service_status_stopped.png"
service_status_paused PNG "..\..\images\icons\png\service_status_paused.png"
service_status_running_gray PNG "..\..\images\icons\png\service_status_running_gray.png"
service_status_unknown PNG "..\..\images\icons\png\service_status_unknown.png"
server_parameter PNG "..\..\images\icons\png\server_parameter.png"
health_bar_empty PNG "..\..\images\health_bar_empty.png"
health_bar_filled PNG "..\..\images\health_bar_filled.png"
log_bar_empty PNG "..\..\images\log_bar_empty.png"
log_bar_filled PNG "..\..\images\log_bar_filled.png"
log_bar_filled_top PNG "..\..\images\log_bar_filled_top.png"
backup PNG "..\..\images\icons\png\sections\backup.png"
restore PNG "..\..\images\icons\png\sections\restore.png"
server_logs PNG "..\..\images\icons\png\sections\server_logs.png"
service_config PNG "..\..\images\icons\png\sections\service_config.png"
service_config_gray PNG "..\..\images\icons\png\sections\service_config_gray.png"
startup_variables PNG "..\..\images\icons\png\sections\startup_variables.png"
startup_variables_gray PNG "..\..\images\icons\png\sections\startup_variables_gray.png"
server_connections PNG "..\..\images\icons\png\sections\server_connections.png"
user_admin PNG "..\..\images\icons\png\sections\user_admin.png"
health PNG "..\..\images\icons\png\sections\health.png"
health_detailbg PNG "..\..\images\health_detailbg.png"

