#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP             0x00000001L

MAINICON ICON "..\..\images\icons\MySQLMigrationTool.ico"

1 VERSIONINFO
FILEVERSION 1, 1, 14
PRODUCTVERSION 1, 1, 14
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "MySQL AB\000"
   VALUE "FileVersion", "1.1.14\000"
   VALUE "FileDescription", "MySQL Migration Toolkit\000"
   VALUE "InternalName", "MySQL Migration Toolkit\000"
   VALUE "LegalCopyright", "\251 Copyright 2004, MySQL AB\000"
   VALUE "LegalTrademarks", "MySQL is a trademark of MySQL AB\000"
   VALUE "OriginalFilename", "MySQLMigrationTool.exe\000"
   VALUE "ProductName", "MySQL Migration Toolkit\000"
   VALUE "ProductVersion", "1.1\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }
}
