GC_ZoomInCursor CURSOR "cur315.cur"
GC_ZoomOutCursor CURSOR "cur316.cur"
GC_PanningHandOpenCursor CURSOR "cur252.cur"
GC_PanningHandClosedCursor CURSOR "cur253.cur"

GC_MoveAllCursor CURSOR "GC move all.cur"
GC_MoveEastCursor CURSOR "GC move east.cur"
GC_MoveEastWestCursor CURSOR "GC move east-west.cur"
GC_MoveNorthCursor CURSOR "GC move north.cur"
GC_MoveNorthEastCursor CURSOR "GC move north-east.cur"
GC_MoveNorthSouthCursor CURSOR "GC move north-south.cur"
GC_MoveNorthWestCursor CURSOR "GC move north-west.cur"
GC_MoveSouthCursor CURSOR "GC move south.cur"
GC_MoveSouthEastCursor CURSOR "GC move south-east.cur"
GC_MoveSouthWestCursor CURSOR "GC move south-west.cur"
GC_MoveWestCursor CURSOR "GC move west.cur"

GC_MoveAllBitmap BITMAP "GC move all.bmp"
GC_MoveEastWestBitmap BITMAP "GC move east-west.bmp"
GC_MoveNorthSouthBitmap BITMAP "GC move north-south.bmp"